

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  
    
       
        <a class="navbar-brand" href="#">Mike's Blogs</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
      </div>
      <div class="col-6 text-center">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "p-2 text-muted" %>
          </li>
          <li class="nav-item">
            <%= link_to "About", about_me_path, class: "p-2 text-muted" %>
          </li>
          <li class="nav-item">
            <%= link_to "Contact", contact_path, class: "p-2 text-muted" %>
          </li>
          <li class="nav-item">
            <%= link_to "Blog", blogs_path, class: "p-2 text-muted" %>
          </li>
          <li class="nav-item">
            <%= link_to "Portfolio", portfolios_path, class: "p-2 text-muted" %>
          </li>
          <li class="nav-item">
            <%= login_helper 'p-2 text-muted' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Write a New Blog', new_blog_path, class: "p-2 text-muted" if logged_in?(:site_admin) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

 
